@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import './material-theme.scss';

a {
    text-decoration: none;
}

app-root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

body {
    background: mat-color($candy-app-primary, lighter);
    font-family: 'Montserrat';
    font-size: 18px;
}

body, html {
    height: 100%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

mat-card {
    bottom: 0;
    left: 0;
    position: absolute!important;
    right: 0;
    top: 0;
}

section {
    flex-grow: 1;
    margin: 0 auto;
    padding: 2em;
    width: 70%;
}

.section {
    height: 100%;
    position: relative;
}
